header{
    height:18vw;
    background-image: url('./images/bg-desktop-dark.jpg');
    background-size:cover;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 30%;
    max-width: 40%;
    left:30%;
}
.theme button{
    background-color: transparent;
    border:0
}
.logo{
    color: white;
    font-size: 28px;
    font-family:'Josefin Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
body{
    background-color: hsl(235, 21%, 11%);
    color: white;
}
.new-todo button{
    color:hsl(0, 2%, 35%);
    font-size: 19px;
}
.new-todo{
    padding: 0.2% 1%;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    position:absolute;
    align-content: center;
    text-align: left;
    height:17%;
    top: 70%;
    left:50%;
    width: 39%; 
    transform: translate(-50%, -50%);
}
.task.done{
    opacity:0.4;
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}
form input[type="text"]{
    color: white;
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
}
form button{
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    padding-left: 1%;
}
.task-start{
    display: flex;
    justify-content: start;
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid hsl(0, 1%, 30%);
    padding: 1% 1%;
    font-family:'Josefin Sans', sans-serif;
    font-size: 18px;
    margin:0 auto;
    width: 39%;
}
.task-count{
    display:flex;
    justify-content: space-between;
    color: hsl(0, 1%, 43%);
    background-color: hsl(235, 24%, 19%);
    padding: 0.2% 1%;
    font-family:'Josefin Sans', sans-serif;
    font-size: 14px;
    margin:0 auto;
    width: 39%;
}
.task button{
    background-color: hsl(235, 24%, 19%);
    border: 0;
    cursor: pointer;
    padding-left: 1%;
}
.task button:hover{
    color: hsl(234, 11%, 52%);
}